Babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
dnspython==1.16.0
idna==2.10
lxml==4.6.2
mysqlclient==2.0.3
pymongo==3.11.3
pyTelegramBotAPI==3.7.6
pytz==2021.1
requests==2.25.1
soupsieve==2.1
urllib3==1.26.3
